[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
pylint = "*"
black = "*"
bpython = "*"

[packages]
"discord.py" = "*"
requests = "*"

[scripts]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
