[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==3.3.4"
black = "==25.1.0"
bpython = "==0.25"

[packages]
"discord.py" = "==1.7.3"
requests = "==2.32.3"

[scripts]
format = "black ."
lint = "pylint src"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
