[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.15.6"
black = "==22.10.0"
bpython = "==0.23"

[packages]
"discord.py" = "==1.7.3"
requests = "==2.28.1"

[scripts]
format = "black ."
lint = "pylint src"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
